### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml
/target/
/backend.iml
/src/main/resources/imports/theme-grid-keycloak-theme.jar
/src/main/resources/imports/local-keycloak.env
/src/main/resources/db/local-db.env
docker-compose-local.yaml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
